
<div class="div-contenido" >
    <div class="div-opciones" >
        <div class="opc-perfil">
            <i class="fa-regular fa-user centro" style="color: #ffc278;"></i>
            <p class="centro" style="color: white;" >Perfil</p>
        </div>
    </div>
    <div class="div-contenido-perfil" >
        <div class="div-portada">

        </div>
        <div class="div-perfil" >
            <img src="../../assets/img/Jeorge-monkey.jpg" alt="">
        </div>
        <div class="div-datos-perfil" >
            <div class="perfil-letra" >Perfil</div>
            <form id="formulario">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                      <label class="lbl-form block mb-2">Nombre</label>
                      <input type="text" class="txt-form form-input" placeholder="Nombre" required>
                    </div>
                    <div>
                        <label class="lbl-form block mb-2">Apellido</label>
                        <input type="text" class="txt-form form-input" placeholder="Apellido" required>
                    </div>
                    <div>
                        <label class="lbl-form block mb-2">Nombre de usuario</label>
                        <input type="text" class="txt-form form-input" placeholder="Nombre de usuario" required>
                      </div>
                    <div>
                      <label class="lbl-form block mb-2">Correo electrónico</label>
                      <input type="email" class="txt-form form-input" placeholder="Correo electrónico" required>
                    </div>
                </div>
                <button id="btn-guardar" class="form-input">Guardar</button>
            </form>
        </div>
    </div>
    
</div>
