
.div-contenido {
    display: flex;
    margin-top: 50px;
}

.div-opciones {
    padding-top: 10px;
    width: 300px;
    height: 250px;
    left: 0px;
    top: 166px;
    background: #474A57;
}

.opc-perfil{
    text-align: start;
    width: 244px;
    height: 39px;
    left: 0px;
    top: 183px;
    background: #18191F;
}

.centro {
    padding: 0px 15px;
    display: inline-block;
  }

.div-contenido-perfil {
    display: flex;
    flex-direction: column;
}

.div-portada {
    width: 1193px;
    height: 150px;
    left: 247px;
    top: 166px;
    background: #FFC278;
}

.div-perfil {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 700px;
    top: 190px;
    background: #D9D9D9;
}

.div-datos-perfil{
    display: flex;
    width: 1193px;
    height: 494px;
    margin-top: 80px;
    background: #474A57;
}

.perfil-letra {
    justify-content: space-between;
    align-items: baseline;
    margin-left: 30px;
    margin-top: 30px;
    /* Heading / H2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 64px;
    /* or 133% */
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFC278;
}

#formulario {
    display: flex;
    flex-direction: column;
    padding: 40px 25px;
}
.lbl-form {
    color:#FFE3C1;
    margin-bottom: 0;
}
.txt-form {
    outline: 0;
    border: 0;
    background-color: #797B81;
    margin: 10px 0px;
    border-radius: 6px;
    padding: 17px;
    color: #ffffff;
    font-size: 1.1em;
    width: 100%;
}
#titulo {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
}
#btn-guardar {
    background-color: #FFC278;
    border: 0;
    border-radius: 6px;
    padding: 5px;
    margin: 10px 0px;
    width: 125px;
    height: 40px;
    cursor: pointer;
    font-size: 1.1em;
    align-self: start;
}

.dos-colunmas {
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

/* Prueba */