<header class="py-5 bg-image-full"
  style="background-image: url('https://media.istockphoto.com/id/1337329904/es/foto/imagen-de-fondo-de-cifrado-de-codificaci%C3%B3n-digital-de-seguridad-cibern%C3%A9tica.jpg?b=1&s=170667a&w=0&k=20&c=Pzg_3mgl0Y5U9MDOLXAimfLfzUqIg_bJU-px501wuIA=')">
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mx-auto mb-4" src="../../assets/img/Jeorge-monkey.jpg" alt="..." />
    <h1 class="text-white fs-3 fw-bolder">{{usuario.nombre}} {{usuario.apellido}}</h1>
    <p class="text-white-50 mb-0">{{usuario.usuario}}</p>
  </div>
</header>

<section class="">
  <div id="div-1" class="info-usuario container my-5">
        <p class="lbl-form block mb-2">Nombre: {{usuario.nombre}}</p>
        <p class="lbl-form block mb-2">Apellido: {{usuario.apellido}}</p>
        <p class="lbl-form block mb-2">Nombre de usuario: {{usuario.usuario}}</p>
        <p class="lbl-form block mb-2">Correo electrónico: {{usuario.correo}}</p>
  </div>
</section>