<div class=".contenedor" >
    <section class="izquierda">
        <div class="contenido">
            <h1 class="titulo" >Editor Online</h1>
            <h2 class="parrafo" >Programa el doble de rápido </h2>
            <h2 class="parrafo" >con 4 pulgares como un Monkey</h2>
            <button [routerLink]="['/login']" class="btn-empezar">Empezar</button>
        </div>
        
    </section>
    <section>
        <div>
            <img class="wobble-vertical-right" src="../../assets/img/html-imagen.png" alt="">
        </div>
        <div>
            <img class="wobble-vertical-right" src="../../assets/img/css-imagen.png" alt="">
        </div>
        <div>
            <img class="wobble-vertical-right" src="../../assets/img/js-imagen.png" alt="">
        </div>
    </section>
</div>

