@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #1E1E1E;
    font-family: 'Inter';
    font-size: 15px;

}

h4 {
    font-size: 15pt;
    letter-spacing: 1px;
    color:#FFE3C1;
    margin: 10px;
}

::placeholder {
    color: #BDBDBD;
}
