<div class="area-trabajo">
  <div class="menu-lateral" >
    <button class="btn"><i class="fa-solid fa-folder-plus"></i> Nuevo Proyecto</button>
    <button class="btn"><i class="fa-solid fa-folder-open"></i> Abrir Proyecto</button>
    <div>
      <h5 class="acciones">Acciones</h5>
      <button (click)="generarSalida($event)" class="btn-acciones"><i class="fa-regular fa-circle-play"></i> Ejecutar</button>
      <button class="btn-acciones"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
      <button class="btn-acciones"><i class="fa-solid fa-download"></i> Descargar</button>
    </div>
  </div>
  <div class="pantallas">
      <div>
        <div class="tab">HTML</div>
        <ngx-codemirror
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown',
          scrollbarStyle: 'native'
        }"
        [(ngModel)]="htmlCode"
      ></ngx-codemirror>
    </div>
    <div>
      <div class="tab">CSS</div>
      <ngx-codemirror
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'css'
        }"
        [(ngModel)]="cssCode"
      ></ngx-codemirror>
    </div>
    <div>
      <div class="tab">JS</div>
      <ngx-codemirror
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'javascript'
        }"
        [(ngModel)]="jsCode"
      ></ngx-codemirror>
    </div>
    <div style="background-color: #FFF;">
      <iframe class="miIframe" id="salida" src="" frameborder="0">Salida</iframe>
  </div>
</div>


<!-- Ventana modal, archivos -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>
