
<div class="area-trabajo">
    <div class="menu-lateral">
        Menu
    </div>
    <div class="pantallas">
        <div>
            <ngx-codemirror
                [options]="{
                  lineNumbers: true,
                  theme: 'material',
                  mode: 'markdown'
                }"
            ></ngx-codemirror>
        </div>
        <div>
            <ngx-codemirror
            [options]="{
              lineNumbers: true,
              theme: 'material',
              mode: 'css'
            }"
            ></ngx-codemirror>
        </div>
        <div>
            <ngx-codemirror
            [options]="{
              lineNumbers: true,
              theme: 'material',
              mode: 'javascript'
            }"
            ></ngx-codemirror>
        </div>
        <div>
            Salida
        </div>
    </div>
</div>



