<div class="area-trabajo">
  <div class="menu-lateral" >
      Menu
  </div>
  <div class="pantallas">
      <div>
        <ngx-codemirror
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown',
          scrollbarStyle: 'native'
        }"
        [(ngModel)]="htmlCode"
      ></ngx-codemirror>
    </div>
    <div>
      <ngx-codemirror
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'css'
        }"
        [(ngModel)]="cssCode"
      ></ngx-codemirror>
    </div>
    <div>
      <ngx-codemirror
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'javascript'
        }"
        [(ngModel)]="jsCode"
      ></ngx-codemirror>
    </div>
  
    <div>
      <button (click)="generarSalida($event)">Generar Salida</button>
      <iframe class="miIframe" id="salida" src="" frameborder="0">Salida</iframe>
  </div>
</div>


<!-- Ventana modal, archivos -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>


















